
*{
  margin: 0;
  padding: 0;
}
html,body{
    width:100%;
    background-color: #050408;
    color:#eee;
    
    height: 100%;     
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
.title{
    color:#df0e62;
    padding-top:10%;
    font-size: 5em;
    
}
#parent{
    width:100%;
    height: 100%;
    font-size: 120%;
    background-attachment: fixed;
    text-align: center;
    background-image: url("bg.gif")
}
.title{
    display: none;
}
.button-inline{
    padding:10px;
    margin:2px;
    border-radius:5px;
    background-color:#1e2f51;
}
.button-inline a {
    color:white;
    text-decoration:none;
}

#buttons{
    display:flex;
    width: 100%;
    justify-content: center;
}

  a{
      color: inherit;
  }
  a[href="#blog"]{
      
      text-decoration: none;
  }
  #content{
      width: 50%;
      margin: auto;
  }
  .skill-sec{
      padding:5px;
      display: flex;
  }
  .graph{
    padding:5px;
    width:0px;
    background-color: #df0e62;
  }
  .skill-sec p{
    font-weight: 300;
    width:100px;
  }
  .sec{
      padding:2em;
  }
  #skill-sec{
      margin:10px;
  }

@media screen and (max-width: 480px) {
    
    .title{font-size: 2em;}
    #parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #content{
        width:100%;
        margin:initial;
    }
  }