.project-tag{
    font-weight: 200;
    font-size: 0.5em;
}
.portfolio{
    height:80vh;
    margin:10% 0 0 10%;
    font-size:1.8em;
}
.tags{
    line-height: 30px;
}
.parents{
    display: flex;
    width:70vw;
    margin-top: 5%;
    flex:1;
}
.projects{
    display: flex;
}
.project{
    margin-bottom:5px;
    width:20vw;
    margin-right: 5vw;
}