
*{
    margin: 0;
    padding: 0;
  }

:root {
    --main-bg-color-dark: #050408;  
    --main-bg-color-light:#eee;
    --main-fg-color-dark:#eee;
    --main-fg-color-light:#050408;
  }
html,body{
    width:100%;
    background-color: var(--main-bg-color-dark);
    color:var(--main-fg-color-dark);
    height: 100%;     
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
#header{
    color:#df0e62;
    font-size: 300%;
    text-align: center;
    padding-top:2em;
    height: 50%;
    background: linear-gradient(-45deg, #CC95C0, #DBD4B4, #7AA1D2,#DA22FF);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
#row-parent{
    display: flex;
    justify-content: space-between;    
    
}
#about{
    margin:3em;
    width:30%;
}
#blog-rows{
    margin:3em;
    width:50%;
}

a{
    text-decoration: none;
    color:inherit;
}