$background_color_dark:#0C0C0C;
$text_color_dark:#eee;
$background_color: #F9F9F9 !default;
$primary_color:#FC28FB !default;
$secondary_color:#ff99ff;
$text_color:#000 !default;
$third_color:#AF00AE;
$navbar_unselected: #C4C4C4;
$slider_background:#eeeeee;
$icon_color:#717070;

:export{
  sliderButtonColor:$secondary_color;
  sliderBackgroundColorLight:$slider_background;
  sliderBackgroundColorDark:$primary_color;
}
